.main {
    display: flex;
    flex-direction: column; /* Display the cards as a column */
    align-items: center; /* Center the cards horizontally */
    justify-content: center;
    margin-top: 30px;
    
  }
  
  .card {
    border: 1px solid #e2e2e2;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 700px;
    height: 250px;
    text-align: center;
    position: relative;
  }
  
  .number {
    position: absolute;
    top: 20px;
    left: 20px;
    border-radius: 50%;
    color: #fff;
    font-size: 40px;
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
  
  .title {
    margin: 0;
    color: white;
    top: 10px;
  }
  
  .image-link {
    text-decoration: none;
  }
  
  .image-placeholder {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 10px auto;
    overflow: hidden;
    margin-top: 15px;
    transition: background-color 0.3s ease;
  }

  .image-link:hover .image-placeholder {
    background-color: rgba(200, 200, 200, 0.4); /* Transparent gray background on hover */
  }

  .image-link:hover .image-placeholder img {
    opacity: 0.8; /* Reduce opacity of image on hover */
  }


  .image-placeholder img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 50%;
    transition: opacity 0.3s ease; /* Add transition for opacity change */
  }
  
  .buttons {
    margin-top: 15px;
  }
  
  .button {
    display: inline-block;
    background-color: #007bff;
    color: transparent;
    padding: 8px 15px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  

