* {
  text-align: center;
  background-color: #0e1538;
  font-family: 'Poppins', sans-serif;
  color: white;
}
.text {
  padding-left: 190px;
  padding-right: 190px;
  padding-top: 30px;
  font-size: 20px;
}
